.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/DJI_0004 1.png') no-repeat 50%/cover;
    padding-top: 205px;
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__title {
        width: 702px;
        height: 129px;
        margin-top: 10px;
    }
    &__btns {
        margin-top: 25px;
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link{
        font-size: 14px;
        color: #000;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }

}