.sidepanel {
    position: fixed;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    top: 230px;
    left: 75px;
    a {
        img {
            height: 20px;
            width: 20px; 
        } 
        // &:nth-child(3) {
        //         transform: rotate(90deg);
        // }
    }

    &__divider {
        width: 2px;
        height: 70px;
        background: #000;
    }
    &__text{
        font-weight: 700;
        font-size: 16px;
        writing-mode: vertical-lr; 
        transform: rotate(-180deg);

        //    
        // width: 250px;
        // height: 25px;
    }
}